﻿@using sqlite.Shared
@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<input type="button" onclick="@SaveForecasts" value="SAVE FORECASTS" />

@if (forecasts == null)
{
    <Loading></Loading>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    WeatherForecast[] forecasts;

    protected override async Task OnInitAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("api/SampleData/WeatherForecasts");
    }

    protected async void SaveForecasts()
    {
        var newForecast = new WeatherForecast
        {
            Id = 1,
            Date = DateTime.Now,
            TemperatureC = 5,
            Summary = "Fricken cold",

        };
        await Http.PostJsonAsync<WeatherForecast>("api/SampleData/SaveForecasts", newForecast);
    }
}
