﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<form asp-controller="Home" asp-action="UploadFile" asp-route-pathV="@pathVal" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>*@

<form method="post" enctype="multipart/form-data" action="/Upload">
    <div>
        <p>Upload one or more files using this form:</p>
        <input type="hidden" name ="filename" id="FileName" value="" />
        <input type="file" name="files" accept=".zip" onchange="document.getElementById('FileName').value = this.value;"/>
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>