﻿@page "{id:int}"
@model WebApplication2.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Customer</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Customer.Id" type="hidden" />
    <div>
        <label asp-for="Customer.Name"></label>
        <div>
            <input asp-for="Customer.Name" />
        </div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

