﻿@page
@model MCServerManager.Pages.CreateServerModel

@{
    ViewData["Title"] = "CreateServer";
}

<h2>CreateServer</h2>

<h4>MCServer</h4>
<hr />
<div class="row">
    <div @*class="col-md-4" *@>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button type="button" class="collapsible"><h4>More Details</h4></button>
            <div class="content" style="padding: 10px">
                <label asp-for="MCServer.CreateDirectory" class="control-label"></label>
                <input type="checkbox" asp-for="MCServer.CreateDirectory" />
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Name" class="control-label"></label>
                <input asp-for="MCServer.Name" class="form-control" />
                <span asp-validation-for="MCServer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Modpack" class="control-label"></label>
                <input asp-for="MCServer.Modpack" class="form-control" />
                <span asp-validation-for="MCServer.Modpack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Port" class="control-label"></label>
                <input asp-for="MCServer.Port" class="form-control" />
                <span asp-validation-for="MCServer.Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.MaxRam" class="control-label"></label>
                <input asp-for="MCServer.MaxRam" class="form-control" />
                <span asp-validation-for="MCServer.MaxRam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Jar" class="control-label"></label>
                <input asp-for="MCServer.Jar" class="form-control" />
                <span asp-validation-for="MCServer.Jar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Folder" class="control-label"></label>
                <input asp-for="MCServer.Folder" class="form-control" />
                <span asp-validation-for="MCServer.Folder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
