﻿@page
@model MCServerManager.Pages.EditServerModel

@{
    ViewData["Title"] = "EditServer";
}

<h2>EditServer</h2>

<h4>MCServer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MCServer.Id" />
            <div class="form-group">
                <label asp-for="MCServer.Name" class="control-label"></label>
                <input asp-for="MCServer.Name" class="form-control" />
                <span asp-validation-for="MCServer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Modpack" class="control-label"></label>
                <input asp-for="MCServer.Modpack" class="form-control" />
                <span asp-validation-for="MCServer.Modpack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Port" class="control-label"></label>
                <input asp-for="MCServer.Port" class="form-control" />
                <span asp-validation-for="MCServer.Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.MaxRam" class="control-label"></label>
                <input asp-for="MCServer.MaxRam" class="form-control" />
                <span asp-validation-for="MCServer.MaxRam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Jar" class="control-label"></label>
                <input asp-for="MCServer.Jar" class="form-control" />
                <span asp-validation-for="MCServer.Jar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCServer.Folder" class="control-label"></label>
                <input asp-for="MCServer.Folder" class="form-control" />
                <span asp-validation-for="MCServer.Folder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
