﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Minecraft Server Manager";
}


<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Active
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MCServer[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MCServer[0].Modpack)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MCServer[0].Port)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MCServer[0].MaxRam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MCServer[0].Jar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MCServer[0].Folder)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MCServer)
            {
                <tr>
                    <td>
                        @{ 
                            string green = "#4cff00";
                            string red = "#ff0000";
                            var active = Model.ActiveServerIds.Contains(item.Id);
                            string color = (active) ? green : red;
                        }
                        <span style="height: 25px; width: 25px; background-color: @color; border-radius: 50%; display: inline-block;"></span>
                    </td>
                    <td>
                        <a asp-page="./ServerDetail" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modpack)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Port)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxRam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Folder)
                    </td>
                    <td width="12%">
                        @if (!active)
                        {
                            <a asp-page="./EditServer" asp-route-id="@item.Id" class="btn btn-default">Edit</a>
                        }
                        <button type="submit" style="float: right;" asp-page-handler="delete" asp-route-id="@item.Id" class="btn btn-default">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
