﻿@page
@model MCServerManager.Pages.ServerListModel

@{
    ViewData["Title"] = "ServerList";
}

<h2>ServerList</h2>

<p>
    <a asp-page="CreateServer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MCServer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCServer[0].Modpack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCServer[0].Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCServer[0].MaxRam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCServer[0].Jar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCServer[0].Folder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MCServer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modpack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Port)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxRam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folder)
            </td>
            <td>
                <a asp-page="./EditServer" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./ServerDetail" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
