﻿@page
@model ServerDetailModel

@{
    ViewData["Title"] = "ServerDetail";
}

@{
    string green = "#4cff00";
    string red = "#ff0000";
    var active = Model.IsActive;
    string color = (active) ? green : red;
}
<span style="height: 25px; width: 25px; background-color: @color; border-radius: 50%; display: inline-block;" id="statusSymbol"></span>
<h2 style="display: inline-block;">Server: @Model.MCServer.Name</h2>

<div>
    <form method="post" class="myButtonArea">
        <input type="submit" class="btn btn-default myButton" asp-page-handler="Start" asp-route-id="@Model.MCServer.Id" value="Start" />
        <input type="button" id="restartButton" value="Restart" class="btn btn-default" />
        <input type="button" id="stopButton" value="Stop" class="btn btn-default" />
        @*<input type="button" id="stopButton1" value="Stop" class="btn btn-default" style="float: right;" /> EXAMPLE FOR NON ESSENTIAL BUTTONS*@
        <a asp-action="Download" asp-route-id="@Model.MCServer.Id" asp-route-folder="@Model.MCServer.Folder" asp-route-filename="/logs/serverLatest.log" id="downloadLog" class="btn btn-default" style="float: right;">Latest Log</a>
    </form>
    <form>

    </form>
</div>

<button class="collapsible"><h4>More Details</h4></button>
<div class="content">
    <form method="post" enctype="multipart/form-data" action="/Home/UploadServerZip">
        <div>
            <p>Upload one or more files using this form:</p>
            <input type="hidden" name="filename" id="FileName" value="" />
            <input type="hidden" name="folder" id="Folder" value="@Model.MCServer.Folder" />
            <input type="hidden" name="serverId" id="ServerId" value="@Model.MCServer.Id" />
            <input type="file" name="files" accept=".zip" onchange="document.getElementById('FileName').value = this.value; this.form.submit();" />
        </div>
        <div>
            @*<input type="submit" value="Upload" />*@
        </div>
    </form>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MCServer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MCServer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MCServer.Modpack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MCServer.Modpack)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MCServer.Port)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MCServer.Port)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MCServer.MaxRam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MCServer.MaxRam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MCServer.Jar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MCServer.Jar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MCServer.Folder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MCServer.Folder)
        </dd>
    </dl>
</div>
<div id="serverOutputArea" style="overflow: auto; height: 500px; width:inherit;">
    @foreach (var line in Model.MCServer.Log)
    {
        <br />
        @line
    }
</div>
<div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-10">&nbsp;</div>
            <div class="col-10">
                <label style="display: inline-block; padding-right: 5px">Command:</label><input style="display: inline-block; width: 500px" type="text" id="commandInput" />
                <input type="button" id="sendButton" value="Send Command" />
            </div>
        </div>
    </div>
</div>
<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/serverDetails.js"></script>