﻿@page
@model MCServerManager.Pages.SettingsModel

@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Settings.DefaultPath" class="control-label"></label>
                <input asp-for="Settings.DefaultPath" class="form-control" />
                <span asp-validation-for="Settings.DefaultPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Settings.DefaultVanilla" class="control-label"></label>
                <input asp-for="Settings.DefaultVanilla" class="form-control" />
                <span asp-validation-for="Settings.DefaultVanilla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Settings.DefaultForge" class="control-label"></label>
                <input asp-for="Settings.DefaultForge" class="form-control" />
                <span asp-validation-for="Settings.DefaultForge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
